#d{
    height:100px;
    width:100px;
    background-color:orange;
     /* transition-property :all;
    transition-duration : 2s;
    transition-timing-function: cubic;
    transition-delay:2s; */
    /* transition:all 4s ease-in 1s; (transition shorthand) */
    position:absolute;
    top:300px;
    left:400px;
    /* transform:rotate(45deg); */
    /* rotate: x 90deg; */
    /* rotate:x 180deg; */
    rotate: z 45deg;
    /* transform:scale(2); */
    /* transform: scalex(2); */
    transition:all 2s ease-in;
    
}  @media (width:500px){
    #d{
        background-color:green;
    }
} @media (min-width:200px) and (max-width:300px){
    #d{
        background-color:blueviolet;
    }
} #d:hover{
    background-color:black;
    color:white;
    font-size:20px;
    /* transform:scaleY(2); */
    /* transform:rotate(90deg); */
    /* transform:translate(200px); */
     transform:translateY(200px);
      /* transform:translate(200px,40px); */
      transform: skew(45deg) ;
   
}