button{
    margin-top:30px;
    margin-right:10px;
}
#b1 {
    background-color:yellow;

} #b2 {
    background-color:aqua;

} #b3 {
    background-color:pink;

} #b4 {
    background-color:orange;

} #b5 {
    background-color: rgb(150 112 50);

}